@forward "../../config/variables";
@use "../../config/variables" as var;
@forward  "../../function/convert-vp";
@use "../../function/convert-vp" as vp;
@forward "../../mixin/madia";
@use "../../mixin/madia";
@forward  "../../mixin/site-padding";
@use "../../mixin/site-padding" as sp;

.contact__form {
  padding-top: vp.convertVw(200px, 1000px);
  @include madia.deviceBreakPointMax(600px) {
    padding-top: vp.convertVw(300px, 600px);
  }
  &__container {
    width: vp.convertPercent(840px, 1280px);
    margin: 0 auto;
    .contact__form__message {
      text-align: center;
      letter-spacing: .12em;
      line-height: 1.3em;
      font-size: 3.2rem;
      color: #5B5C5C;
      @include madia.deviceBreakPointMax(600px) {
        letter-spacing: normal;
        font-size: 3.0rem;
      }
    }
    .form {
      @include sp.sitePaddingBase(236px, 0px, 0px, 0px);
      line-height: 2.0em;
      font-size: 1.8rem;
      font-weight: 500;
      color: #212121;
      &__item-inner {
        margin: vp.convertVw(40px, 1280px) 0 vp.convertVw(90px, 1280px) 0;
        &.ta-m {
          margin-bottom: 0;
        }
        &__column {
          width: 100%;
          &.input {
            border: none;
            border-bottom: solid 1px #ADADAD;
          }
          &.textarea {
            height: vp.convertVh(347px, 1280px);
            border: solid 1px #ADADAD;
            resize: none;
          }
        }
      }
    }
  }
}