@forward "../mixin/madia";
@use "../mixin/madia";

@mixin common-title {
  letter-spacing: .12em;
  font-size: 4.8rem;
  font-family: "Avenir";
  font-weight: 900;
  color: #A4ABB0;
  @include madia.deviceBreakPointMax(600px) {
    text-align: center;
  }
}